/*.css-1v0mbdj.etr89bj1 img {
    border: 1px solid #ddd;
    border-radius: 50%;
}*/
div.css-v37k9u.e16nr0p33 {
    text-align: justify;
}
span#MainMenu {
    visibility: hidden;
}
footer.css-1lsmgbg.egzxvld0 {
    visibility: hidden;
}
